source/trunk/Pigeon.Voice.Demo.Agents/Pigeon.Voice.Demo.Agents/obj/
source/trunk/Pigeon.Voice.Demo.Agents/.vs/Pigeon.Voice.Demo.Agents/v15/.suo
../.vs/Pigeon.Voice.Demo.Agents/v15/*
Pigeon.Voice.Demo.Agents.csproj.user
source/trunk/Pigeon.Voice.Demo.Agents/.vs/Pigeon.Voice.Demo.Agents/v15/Server/sqlite3/storage.ide
source/trunk/Pigeon.Voice.Demo.Agents/.vs/Pigeon.Voice.Demo.Agents/v15/Server/sqlite3/storage.ide-shm
source/trunk/Pigeon.Voice.Demo.Agents/.vs/Pigeon.Voice.Demo.Agents/v15/Server/sqlite3/storage.ide-wal

